<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="win81" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="win81" />
  <package id="SAP.Data.OData" version="3.8.0-sap-05" targetFramework="win81" />
  <package id="SAP.Data.OData.Offline.Store" version="16.5.4.1953-m" targetFramework="win81" />
  <package id="SAP.Data.OData.Online" version="3.8.0-sap-05" targetFramework="win81" />
  <package id="SAP.Logon.Core" version="3.8.0-sap-05" targetFramework="win81" />
  <package id="SAP.Logon.FlowEngine" version="3.8.0-sap-05" targetFramework="win81" />
  <package id="SAP.Logon.MobilePlace" version="3.8.0-sap-05" targetFramework="win81" />
  <package id="SAP.Net.Http" version="3.8.0-sap-05" targetFramework="win81" />
  <package id="SAP.SecureStore" version="3.8.0-sap-05" targetFramework="win81" />
  <package id="SAP.Supportability" version="3.8.0-sap-05" targetFramework="win81" />
  <package id="SAP.Usage" version="3.8.0-sap-05" targetFramework="win81" />
  <package id="System.Spatial" version="5.6.4" targetFramework="win81" />
</packages>