<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Data.Edm" version="5.6.2" targetFramework="wpa81" />
  <package id="Microsoft.Data.OData" version="5.6.2" targetFramework="wpa81" />
  <package id="SAP.Data.OData" version="1.0.0" targetFramework="wpa81" />
  <package id="SAP.Data.OData.Online" version="1.0.0" targetFramework="wpa81" />
  <package id="SAP.Logon.Core" version="1.0.0" targetFramework="wpa81" />
  <package id="SAP.Net.Http" version="1.0.0" targetFramework="wpa81" />
  <package id="SAP.SecureStore" version="1.0.0" targetFramework="wpa81" />
  <package id="SAP.Supportability" version="1.0.0" targetFramework="wpa81" />
  <package id="System.Spatial" version="5.6.2" targetFramework="wpa81" />
</packages>